## Example: Analyzing Airport Operations

Download `airports.csv`, `airport-frequencies.csv`, `countries.csv`, `regions.csv` from [OurAirports.com](https://ourairports.com/data/)

In [1]:
import numpy as np
import pandas as pd

In [4]:
# Load the datasets
airports = pd.read_csv("https://ourairports.com/data/airports.csv", sep=",")
airports.head()

Data types:
 id                     int64
ident                 object
type                  object
name                  object
latitude_deg         float64
longitude_deg        float64
elevation_ft         float64
continent             object
iso_country           object
iso_region            object
municipality          object
scheduled_service     object
gps_code              object
iata_code             object
local_code            object
home_link             object
wikipedia_link        object
keywords              object
dtype: object

In [5]:
print("Size:\n", airports.shape)
print("Data types:\n", airports.dtypes)

Size:
 (58596, 18)
Data types:
 id                     int64
ident                 object
type                  object
name                  object
latitude_deg         float64
longitude_deg        float64
elevation_ft         float64
continent             object
iso_country           object
iso_region            object
municipality          object
scheduled_service     object
gps_code              object
iata_code             object
local_code            object
home_link             object
wikipedia_link        object
keywords              object
dtype: object

In [6]:
airports.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR

In [7]:
airports.isnull().sum()

id                       0
ident                    0
type                     0
name                     0
latitude_deg             0
longitude_deg            0
elevation_ft          8486
continent            29010
iso_country            246
iso_region               0
municipality          5873
scheduled_service        0
gps_code             16849
iata_code            49361
local_code           28045
home_link            55433
wikipedia_link       48479
keywords             47729
dtype: int64

In [17]:
# Load other csv files
airport_freq = pd.read_csv("https://ourairports.com/data/airport-frequencies.csv", sep=',')
countries = pd.read_csv("https://ourairports.com/data/countries.csv", sep=',')
regions = pd.read_csv("https://ourairports.com/data/regions.csv", sep=',')

In [13]:
def basic_info(df):
    print("Size:")
    print(df.shape)
    print("="*20)
    print("Data types:")
    print(df.dtypes)
    print("="*20)
    print("Missing Values:")
    print(df.isnull().sum())
    print(df.head())

In [14]:
basic_info(airport_freq)

Size:
(28920, 6)
====================
Data types:
id                 int64
airport_ref        int64
airport_ident     object
type              object
description       object
frequency_mhz    float64
dtype: object
====================
Missing Values:
id                 0
airport_ref        0
airport_ident      0
type               0
description      874
frequency_mhz      0
dtype: int64
       id  airport_ref airport_ident   type          description  \
0   70518         6528          00CA   CTAF                 CTAF
1  307581         6589          01FL  ARCAL                  NaN
2   75239         6589          01FL   CTAF  CEDAR KNOLL TRAFFIC
3   60191         6756          04CA   CTAF                 CTAF
4   59287         6779          04MS   UNIC               UNICOM

   frequency_mhz
0          122.9
1          122.9
2          122.8
3          122.9
4          122.8

In [15]:
basic_info(countries)

Size:
(247, 6)
====================
Data types:
id                 int64
code              object
name              object
continent         object
wikipedia_link    object
keywords          object
dtype: object
====================
Missing Values:
id                  0
code                1
name                0
continent          41
wikipedia_link      0
keywords          155
dtype: int64
       id code                  name continent  \
0  302672   AD               Andorra        EU
1  302618   AE  United Arab Emirates        AS
2  302619   AF           Afghanistan        AS
3  302722   AG   Antigua and Barbuda       NaN
4  302723   AI              Anguilla       NaN

                                      wikipedia_link  \
0              https://en.wikipedia.org/wiki/Andorra
1  https://en.wikipedia.org/wiki/United_Arab_Emir...
2          https://en.wikipedia.org/wiki/Afghanistan
3  https://en.wikipedia.org/wiki/Antigua_and_Barbuda
4             https://en.wikipedia.org/wiki/Anguilla

                                 keywords
0                                     NaN
1  UAE,مطارات في الإمارات العربية المتحدة
2                                     NaN
3                                     NaN
4                                     NaN

In [18]:
basic_info(regions)

Size:
(3963, 8)
====================
Data types:
id                 int64
code              object
local_code        object
name              object
continent         object
iso_country       object
wikipedia_link    object
keywords          object
dtype: object
====================
Missing Values:
id                   0
code                 0
local_code           6
name                 0
continent          419
iso_country         15
wikipedia_link     251
keywords          3503
dtype: int64
       id   code local_code                        name continent iso_country  \
0  302811  AD-02         02              Canillo Parish        EU          AD
1  302812  AD-03         03               Encamp Parish        EU          AD
2  302813  AD-04         04           La Massana Parish        EU          AD
3  302814  AD-05         05               Ordino Parish        EU          AD
4  302815  AD-06         06  Sant Julià de Lòria Parish        EU          AD

                                      wikipedia_link keywords
0              https://en.wikipedia.org/wiki/Canillo      NaN
1               https://en.wikipedia.org/wiki/Encamp      NaN
2           https://en.wikipedia.org/wiki/La_Massana      NaN
3               https://en.wikipedia.org/wiki/Ordino      NaN
4  https://en.wikipedia.org/wiki/Sant_Julià_de_Lòria      NaN

#### 1. Select data with multiple conditions

In [24]:
# Find the region code for New York from region data frame.

regions.head()

,id,code,local_code,name,continent,iso_country,wikipedia_link,keywords
0,302811,AD-02,02,Canillo Parish,EU,AD,https://en.wikipedia.org/wiki/Canillo,NaN
1,302812,AD-03,03,Encamp Parish,EU,AD,https://en.wikipedia.org/wiki/Encamp,NaN
2,302813,AD-04,04,La Massana Parish,EU,AD,https://en.wikipedia.org/wiki/La_Massana,NaN
3,302814,AD-05,05,Ordino Parish,EU,AD,https://en.wikipedia.org/wiki/Ordino,NaN
4,302815,AD-06,06,Sant Julià de Lòria Parish,EU,AD,https://en.wikipedia.org/wiki/Sant_Julià_de_Lòria,NaN

In [25]:
countries[countries['name'] == 'United States'] # This tells us that the country code for United States is US

,id,code,name,continent,wikipedia_link,keywords
228,302755,US,United States,NaN,https://en.wikipedia.org/wiki/United_States,America

In [28]:
regions[(regions['iso_country'] == "US") & (regions['local_code'] == "NY")]

,id,code,local_code,name,continent,iso_country,wikipedia_link,keywords
3730,306110,US-NY,NY,New York,NaN,US,https://en.wikipedia.org/wiki/New_York,NaN

In [29]:
regions[(regions['iso_country'] == "US") & (regions['name'] == "New York")]

,id,code,local_code,name,continent,iso_country,wikipedia_link,keywords
3730,306110,US-NY,NY,New York,NaN,US,https://en.wikipedia.org/wiki/New_York,NaN

Result: The region code for New York is US-NY.

In [30]:
# Extract all large airports in New York state from airoprts data frame

airports.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR

In [32]:
set(airports['type'].values)

{'balloonport',
 'closed',
 'heliport',
 'large_airport',
 'medium_airport',
 'seaplane_base',
 'small_airport'}

In [33]:
airports['type'].unique()

array(['heliport', 'small_airport', 'closed', 'seaplane_base',
       'balloonport', 'medium_airport', 'large_airport'], dtype=object)

In [37]:
airports_NY_large = airports[(airports['iso_region'] == "US-NY") & (airports['type'] == 'large_airport')]

In [40]:
# Extract the name, identification code, and municipality of 
# all airports with ISO region "US-NY" and type "large_airport"

airports_NY_large[["name", "ident", "municipality"]].reset_index(drop=True) # reset index to remove original line numbers

                                      name ident municipality
0    Buffalo Niagara International Airport  KBUF      Buffalo
1     John F Kennedy International Airport  KJFK     New York
2                       La Guardia Airport  KLGA     New York
3  Greater Rochester International Airport  KROC    Rochester
4   Syracuse Hancock International Airport  KSYR     Syracuse

#### 2. Sorting

In [41]:
# From airport_freq, extract all communication frequencies for KJFK,
# with frequencies sorted in ascending order

airport_freq.head()

,id,airport_ref,airport_ident,type,description,frequency_mhz
0,70518,6528,00CA,CTAF,CTAF,122.9
1,307581,6589,01FL,ARCAL,NaN,122.9
2,75239,6589,01FL,CTAF,CEDAR KNOLL TRAFFIC,122.8
3,60191,6756,04CA,CTAF,CTAF,122.9
4,59287,6779,04MS,UNIC,UNICOM,122.8

In [43]:
KJFK_freq = airport_freq[airport_freq['airport_ident'] == 'KJFK']

In [45]:
KJFK_freq.sort_values(by="frequency_mhz")

,id,airport_ref,airport_ident,type,description,frequency_mhz
11656,69294,3622,KJFK,ATIS,ATIS,115.10
11661,69298,3622,KJFK,RDO,NEW YORK RDO,115.90
11662,69299,3622,KJFK,TWR,KENNEDY TWR,119.10
11659,332895,3622,KJFK,GND,GND ALT,121.65
11660,69297,3622,KJFK,GND,GND,121.90
11664,69300,3622,KJFK,UNIC,UNICOM,122.95
11663,332894,3622,KJFK,TWR,TWR ALT,123.90
11653,69293,3622,KJFK,APP,NEW YORK APP (ROBER),125.70
11654,301312,3622,KJFK,APP,NEW YORK APPROACH (CAMRN),127.40
11655,301313,3622,KJFK,APP,NEW YORK APPROACH (FINAL),132.40
11657,69295,3622,KJFK,CLD,CLNC DEL,135.05
11658,69296,3622,KJFK,DEP,NEW YORK DEP,135.90

In [46]:
# From airport_freq, extract all communication frequencies for KJFK,
# with frequencies sorted in descending order

KJFK_freq.sort_values(by="frequency_mhz", ascending=False)

,id,airport_ref,airport_ident,type,description,frequency_mhz
11658,69296,3622,KJFK,DEP,NEW YORK DEP,135.90
11657,69295,3622,KJFK,CLD,CLNC DEL,135.05
11655,301313,3622,KJFK,APP,NEW YORK APPROACH (FINAL),132.40
11654,301312,3622,KJFK,APP,NEW YORK APPROACH (CAMRN),127.40
11653,69293,3622,KJFK,APP,NEW YORK APP (ROBER),125.70
11663,332894,3622,KJFK,TWR,TWR ALT,123.90
11664,69300,3622,KJFK,UNIC,UNICOM,122.95
11660,69297,3622,KJFK,GND,GND,121.90
11659,332895,3622,KJFK,GND,GND ALT,121.65
11662,69299,3622,KJFK,TWR,KENNEDY TWR,119.10
11661,69298,3622,KJFK,RDO,NEW YORK RDO,115.90
11656,69294,3622,KJFK,ATIS,ATIS,115.10

In [47]:
# Find the five rows with larget frequency value from the previous data frame

KJFK_freq.head() # by default head() returns the first 5 rows

,id,airport_ref,airport_ident,type,description,frequency_mhz
11653,69293,3622,KJFK,APP,NEW YORK APP (ROBER),125.70
11654,301312,3622,KJFK,APP,NEW YORK APPROACH (CAMRN),127.40
11655,301313,3622,KJFK,APP,NEW YORK APPROACH (FINAL),132.40
11656,69294,3622,KJFK,ATIS,ATIS,115.10
11657,69295,3622,KJFK,CLD,CLNC DEL,135.05

#### 3. Filter on a list of values

In [57]:
# Extract all communication frequencies used for a large airport in New York state

freq_NY_airports = pd.DataFrame()

for ident in airports_NY_large['ident']:
#     print(ident) # verify that the identification codes are extracted correctly
    freq_airport = airport_freq[airport_freq['airport_ident'] == ident]
#     print(freq_airport) # verify that the frequencies are extracted correctly
    freq_NY_airports = pd.concat([freq_NY_airports, freq_airport])
    
freq_NY_airports

,id,airport_ref,airport_ident,type,description,frequency_mhz
7785,69857,3431,KBUF,A/D,Buffalo APP/DEP,126.150
7786,69858,3431,KBUF,ATIS,ATIS,135.350
7787,69859,3431,KBUF,CLD,CLNC DEL,124.700
7788,69860,3431,KBUF,GND,GND,133.200
7789,69861,3431,KBUF,RDO,RDO,122.600
7790,69862,3431,KBUF,TWR,TWR,120.500
11653,69293,3622,KJFK,APP,NEW YORK APP (ROBER),125.700
11654,301312,3622,KJFK,APP,NEW YORK APPROACH (CAMRN),127.400
11655,301313,3622,KJFK,APP,NEW YORK APPROACH (FINAL),132.400
11656,69294,3622,KJFK,ATIS,ATIS,115.100
11657,69295,3622,KJFK,CLD,CLNC DEL,135.050
11658,69296,3622,KJFK,DEP,NEW YORK DEP,135.900
11659,332895,3622,KJFK,GND,GND ALT,121.650
11660,69297,3622,KJFK,GND,GND,121.900
11661,69298,3622,KJFK,RDO,NEW YORK RDO,115.900
11662,69299,3622,KJFK,TWR,KENNEDY TWR,119.100
11663,332894,3622,KJFK,TWR,TWR ALT,123.900
11664,69300,3622,KJFK,UNIC,UNICOM,122.950
12087,66553,3643,KLGA,APP,NEW YORK APP,118.000
12088,66554,3643,KLGA,APP,NEW YORK APP,132.700
12089,66555,3643,KLGA,ATIS,ATIS,125.950
12090,66556,3643,KLGA,CLD,CLNC DEL,121.875
12091,66557,3643,KLGA,DEP,NEW YORK DEP,120.400
12092,66558,3643,KLGA,GND,GND,121.700
12093,66559,3643,KLGA,TWR,TWR,118.700
12094,66560,3643,KLGA,UNIC,UNICOM,122.950
15289,64370,3855,KROC,A/D,APP/DEP,119.550
15290,64371,3855,KROC,ATIS,ATIS,124.825
15291,64372,3855,KROC,CLD,CLNC DEL,118.300
15292,64373,3855,KROC,GND,GND,121.700
15293,64374,3855,KROC,OPS,ARNG OPS,41.000
15294,64375,3855,KROC,RDO,BUFFALO RDO,122.600
15295,64376,3855,KROC,TWR,TWR,118.300
15296,64377,3855,KROC,UNIC,UNICOM,122.950
16280,68023,3913,KSYR,A/D,APP/DEP,126.125
16281,68024,3913,KSYR,ATIS,ATIS,132.050
16282,68025,3913,KSYR,CLD,CLNC DEL,125.050
16283,68026,3913,KSYR,GND,GND,121.700
16284,68027,3913,KSYR,OPS,ANG OPS,139.625
16285,68028,3913,KSYR,TWR,TWR,120.300
16286,68029,3913,KSYR,UNIC,UNICOM,122.950

In [58]:
idents = airports_NY_large['ident']
filter1 = airport_freq['airport_ident'].isin(idents)
airport_freq[filter1]

,id,airport_ref,airport_ident,type,description,frequency_mhz
7785,69857,3431,KBUF,A/D,Buffalo APP/DEP,126.150
7786,69858,3431,KBUF,ATIS,ATIS,135.350
7787,69859,3431,KBUF,CLD,CLNC DEL,124.700
7788,69860,3431,KBUF,GND,GND,133.200
7789,69861,3431,KBUF,RDO,RDO,122.600
7790,69862,3431,KBUF,TWR,TWR,120.500
11653,69293,3622,KJFK,APP,NEW YORK APP (ROBER),125.700
11654,301312,3622,KJFK,APP,NEW YORK APPROACH (CAMRN),127.400
11655,301313,3622,KJFK,APP,NEW YORK APPROACH (FINAL),132.400
11656,69294,3622,KJFK,ATIS,ATIS,115.100
11657,69295,3622,KJFK,CLD,CLNC DEL,135.050
11658,69296,3622,KJFK,DEP,NEW YORK DEP,135.900
11659,332895,3622,KJFK,GND,GND ALT,121.650
11660,69297,3622,KJFK,GND,GND,121.900
11661,69298,3622,KJFK,RDO,NEW YORK RDO,115.900
11662,69299,3622,KJFK,TWR,KENNEDY TWR,119.100
11663,332894,3622,KJFK,TWR,TWR ALT,123.900
11664,69300,3622,KJFK,UNIC,UNICOM,122.950
12087,66553,3643,KLGA,APP,NEW YORK APP,118.000
12088,66554,3643,KLGA,APP,NEW YORK APP,132.700
12089,66555,3643,KLGA,ATIS,ATIS,125.950
12090,66556,3643,KLGA,CLD,CLNC DEL,121.875
12091,66557,3643,KLGA,DEP,NEW YORK DEP,120.400
12092,66558,3643,KLGA,GND,GND,121.700
12093,66559,3643,KLGA,TWR,TWR,118.700
12094,66560,3643,KLGA,UNIC,UNICOM,122.950
15289,64370,3855,KROC,A/D,APP/DEP,119.550
15290,64371,3855,KROC,ATIS,ATIS,124.825
15291,64372,3855,KROC,CLD,CLNC DEL,118.300
15292,64373,3855,KROC,GND,GND,121.700
15293,64374,3855,KROC,OPS,ARNG OPS,41.000
15294,64375,3855,KROC,RDO,BUFFALO RDO,122.600
15295,64376,3855,KROC,TWR,TWR,118.300
15296,64377,3855,KROC,UNIC,UNICOM,122.950
16280,68023,3913,KSYR,A/D,APP/DEP,126.125
16281,68024,3913,KSYR,ATIS,ATIS,132.050
16282,68025,3913,KSYR,CLD,CLNC DEL,125.050
16283,68026,3913,KSYR,GND,GND,121.700
16284,68027,3913,KSYR,OPS,ANG OPS,139.625
16285,68028,3913,KSYR,TWR,TWR,120.300
16286,68029,3913,KSYR,UNIC,UNICOM,122.950

In [60]:
airport_freq[airport_freq['airport_ident'].isin(airports_NY_large['ident'])]

,id,airport_ref,airport_ident,type,description,frequency_mhz
7785,69857,3431,KBUF,A/D,Buffalo APP/DEP,126.150
7786,69858,3431,KBUF,ATIS,ATIS,135.350
7787,69859,3431,KBUF,CLD,CLNC DEL,124.700
7788,69860,3431,KBUF,GND,GND,133.200
7789,69861,3431,KBUF,RDO,RDO,122.600
7790,69862,3431,KBUF,TWR,TWR,120.500
11653,69293,3622,KJFK,APP,NEW YORK APP (ROBER),125.700
11654,301312,3622,KJFK,APP,NEW YORK APPROACH (CAMRN),127.400
11655,301313,3622,KJFK,APP,NEW YORK APPROACH (FINAL),132.400
11656,69294,3622,KJFK,ATIS,ATIS,115.100
11657,69295,3622,KJFK,CLD,CLNC DEL,135.050
11658,69296,3622,KJFK,DEP,NEW YORK DEP,135.900
11659,332895,3622,KJFK,GND,GND ALT,121.650
11660,69297,3622,KJFK,GND,GND,121.900
11661,69298,3622,KJFK,RDO,NEW YORK RDO,115.900
11662,69299,3622,KJFK,TWR,KENNEDY TWR,119.100
11663,332894,3622,KJFK,TWR,TWR ALT,123.900
11664,69300,3622,KJFK,UNIC,UNICOM,122.950
12087,66553,3643,KLGA,APP,NEW YORK APP,118.000
12088,66554,3643,KLGA,APP,NEW YORK APP,132.700
12089,66555,3643,KLGA,ATIS,ATIS,125.950
12090,66556,3643,KLGA,CLD,CLNC DEL,121.875
12091,66557,3643,KLGA,DEP,NEW YORK DEP,120.400
12092,66558,3643,KLGA,GND,GND,121.700
12093,66559,3643,KLGA,TWR,TWR,118.700
12094,66560,3643,KLGA,UNIC,UNICOM,122.950
15289,64370,3855,KROC,A/D,APP/DEP,119.550
15290,64371,3855,KROC,ATIS,ATIS,124.825
15291,64372,3855,KROC,CLD,CLNC DEL,118.300
15292,64373,3855,KROC,GND,GND,121.700
15293,64374,3855,KROC,OPS,ARNG OPS,41.000
15294,64375,3855,KROC,RDO,BUFFALO RDO,122.600
15295,64376,3855,KROC,TWR,TWR,118.300
15296,64377,3855,KROC,UNIC,UNICOM,122.950
16280,68023,3913,KSYR,A/D,APP/DEP,126.125
16281,68024,3913,KSYR,ATIS,ATIS,132.050
16282,68025,3913,KSYR,CLD,CLNC DEL,125.050
16283,68026,3913,KSYR,GND,GND,121.700
16284,68027,3913,KSYR,OPS,ANG OPS,139.625
16285,68028,3913,KSYR,TWR,TWR,120.300
16286,68029,3913,KSYR,UNIC,UNICOM,122.950

#### 4. Grouping

In [63]:
countries.head()

,id,code,name,continent,wikipedia_link,keywords
0,302672,AD,Andorra,EU,https://en.wikipedia.org/wiki/Andorra,NaN
1,302618,AE,United Arab Emirates,AS,https://en.wikipedia.org/wiki/United_Arab_Emir...,"UAE,مطارات في الإمارات العربية المتحدة"
2,302619,AF,Afghanistan,AS,https://en.wikipedia.org/wiki/Afghanistan,NaN
3,302722,AG,Antigua and Barbuda,NaN,https://en.wikipedia.org/wiki/Antigua_and_Barbuda,NaN
4,302723,AI,Anguilla,NaN,https://en.wikipedia.org/wiki/Anguilla,NaN

In [64]:
airports.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR

In [67]:
# Calculate the number of large airports for each country

airports_by_country = pd.DataFrame()

for country_code in countries['code']:
    # extract the large airports from that country
    large_airports_country = airports[(airports['iso_country'] == country_code) & (airports['type'] == "large_airport")] 
#     print(large_airports_country)
    # count the number of large airports
    num_large_airport = large_airports_country.shape[0]
    
    # add a row in airports_by_country with the country name and the number of large airports
    airports_by_country.loc[country_code, 'Number of Large Airports'] = num_large_airport

airports_by_country

    Number of Large Airports
AD                       0.0
AE                       4.0
AF                       0.0
AG                       0.0
AI                       0.0
..                       ...
YT                       0.0
ZA                       4.0
ZM                       1.0
ZW                       1.0
ZZ                       0.0

[247 rows x 1 columns]

In [11]:
# Find the top 5 countries having the largest amount of large airports

#### 5. Merging

In [12]:
# Merge the above result with countries data frame to find the name of the countries

In [13]:
# Append full country name and region name to airports.